.container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 86px 1fr;
  
}
.comnav { grid-area: 1 / 1 / 2 / 6; background-color: aqua; height: 64px; display: flex; align-content: space-between; }
.comleft { grid-area: 2 / 1 / 6 / 2;  }
.comdash { grid-area: 2 / 2 / 6 / 6;}

.navbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbox+li{
  justify-content: right;
}
